
* {
    word-break: keep-all;
}

body {
}

.nav-link,
.nav-link.active {
    margin: 5px;
    margin-left: 20px;
    color: black;
}

.nav-brand,
.nav-brand.active {
    text-align:left;
    text-decoration:none;
}

table tr th {
    text-align:left;
}

fieldset {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
}

fieldset legend {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    width: auto;
}

fieldset legend label{
    font-size: 1rem;
}

/*.requests-datetime {
}
.requests-status {
    vertical-align: top;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 100px;
}*/

/*.requests-path {
}

.logs-datetime {
}

.logs-level {
}

.logs-logger {
    color: #6c757d !important;
}

.logs-request,
.logs-request a {
    color: #6c757d !important;
}*/

/*.form-control,
.form-control[readonly],
.form-control[readonly] a,
.form-control[readonly] a:active,
.form-control[readonly] a:focus,
.form-control[readonly] a:hover,
.form-control:focus,
.form-control:active {
    background-color: rgb(177,191,194);
    border: none;
    color: black;
    font-size: 16px;
}*/

/*.table {
    border-collapse: separate;
    border-spacing: 0px 5px;
    margin-bottom: 0px;
}

.table tbody tr td {
    background-color: rgb(69,78,83);
    margin-bottom: 5px;
    padding: 12px;
    border: none;
}

.table thead tr th,
.table thead tr td{
    height: auto;
    padding: 0px;
    padding-left: 12px;
    border: none;
    font-size: 12px;
    font-weight: 300;
}

.table tbody tr td a {
    color: white;
}*/