
* {
    word-break: keep-all;
    color: rgb(251, 252, 254);
}

body {
    background-color: #3A3F44
}

fieldset {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
}

fieldset legend {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    width: auto;
}

fieldset legend label{
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1rem;
    line-height: 1rem;
}
.navbar {
    font-size: 1rem;
}

.breadcrumb,
.breadcrumb-item,
.breadcrumb-item a,
.breadcrumb-item.active {
    background-color: inherit;
    color: white;
    font-size: 18px;
}

.breadcrumb {
    padding-left: 0px;
}

.card {
    background-color: #3A3F44
}

.requests-datetime {
}
.requests-status {
    vertical-align: top;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 100px;
}

.requests-path {
}

.logs-datetime {
}

.logs-level {
}

.logs-logger {
    color: #6c757d !important;
}

.logs-request,
.logs-request a {
    color: #6c757d !important;
}

.form-control,
.form-control[readonly],
.form-control[readonly] a,
.form-control[readonly] a:active,
.form-control[readonly] a:focus,
.form-control[readonly] a:hover,
.form-control:focus,
.form-control:active {
    background-color: rgb(177,191,194);
    border: none;
    color: black;
    font-size: 16px;
}

.text-secondary {
    color: #7A8288 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
    color: #565b60 !important;
}

.text-success {
    color: #62c462 !important;
}

a.text-success:hover, a.text-success:focus {
    color: #3b9e3b !important;
}

.text-info {
    color: #5bc0de !important;
}

a.text-info:hover, a.text-info:focus {
    color: #28a1c5 !important;
}

.text-warning {
    color: #f89406 !important;
}

a.text-warning:hover, a.text-warning:focus {
    color: #ad6704 !important;
}

.text-danger {
    color: #ee5f5b !important;
}

a.text-danger:hover, a.text-danger:focus {
    color: #e51d18 !important;
}

.text-light {
    color: #e9ecef !important;
}

a.text-light:hover, a.text-light:focus {
    color: #bdc6cf !important;
}

.text-dark {
    color: #272B30 !important;
}

a.text-dark:hover, a.text-dark:focus {
    color: #050506 !important;
}

.box {
    background-color: rgb(99,110,114);
    padding: 15px;
}

.box-body {
    background-color: rgb(69,78,83);
    padding: 10px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.box-body-plain {
    background-color: transparent;
    padding-top: 0px;
    margin-bottom: 15px;
}

.table {
    border-collapse: separate;
    border-spacing: 0px 5px;
    margin-bottom: 0px;
}

.table tbody tr td {
    background-color: rgb(69,78,83);
    margin-bottom: 5px;
    padding: 12px;
    border: none;
}

.table thead tr th,
.table thead tr td{
    height: auto;
    padding: 0px;
    padding-left: 12px;
    border: none;
    font-size: 12px;
    font-weight: 300;
}

.table tbody tr td a {
    color: white;
}