
* {
    word-break: keep-all;
}

body {
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 30px;
}

a {
    text-decoration: none;
}

a.visited {
    color: #551A8B;
}

table td,
table th {
    padding: 3px;
    padding-right: 5px;
}

table.form td:nth-child(1) {
    color: #6c757d;
}

.nav-link,
.nav-link.active {
    margin: 5px;
    margin-left: 20px;
    color: black;
    text-decoration: underline;
}

.nav-brand,
.nav-brand.active {
    text-align: left;
    text-decoration: none;
}

table tr th,
table tr td {
    text-align:left;
    vertical-align: top;
}

pre {
    margin: 0px;
    white-space: pre-wrap;
}

fieldset {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
}

fieldset legend {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    width: auto;
}

fieldset legend label{
    font-size: 1rem;
}

.text-nowrap {
    word-break: keep-all;
    white-space: nowrap;
}

.text-muted {
    color:#6c757d;
}

.small {
    font-size: 12px;
}

.text-danger,
.text-error,
.text-critical {
    color: #dc3545 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.text-info,
.text-information {
    color: #17a2b8 !important;
}

.mt-1 { 
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}
