<ul class="breadcrumb">
    <li>EntityFramework</li>
</ul>


@foreach (var appDbContext in Model.AppDbContexts)
{
    <h3 style="margin-bottom: 10px;">@appDbContext?.Name</h3>
    <div>
        <a class="button small" href="/debug/EFContext?_dbContext=@(appDbContext?.Name)">Details</a>
        <a class="button small" href="/debug/EFRunSql?_dbContext=@(appDbContext?.Name)">Run Sql</a>
        <table style="margin-top: 20px;">
            <tbody>
                @foreach (var entity in appDbContext.Entities)
                {
                    <tr>
                        <td>
                            <a href="/debug/EFEntity?_dbContext=@(appDbContext?.Name)&_entity=@(entity.ClrTypeName)">
                                @entity.ClrTypeName
                            </a>
                        </td>
                        <td>@(entity.SchemaAndTableName)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <br />
}
