<ul class="breadcrumb">
    <li><a href="/debug/EF">EntityFramework</a></li>
    <li><a href="/debug/EFContext?_dbContext=@(Model.DbContext)"><span class="small text-muted">DbContext: </span>@(Model.DbContext)</a></li>
    <li>Run Sql</li>
</ul>
<script>
    window.onload = function () {
        var sql = new URL(document.location).searchParams.get("_sql");
        document.getElementById("sql").value = sql;
    }
    function sql_onchange(value) {
        if (history.pushState) {
            var url = new URL(document.location);
            url.searchParams.set("_sql", value);
            window.history.replaceState({ path: String(url) }, '', String(url));
        }
    }
    function sql_run() {
        document.getElementById("sql_error").innerHTML = null;
        document.getElementById("sql_affectedRecords").innerHTML = null;
        document.getElementById("sql_results").innerHTML = null;
        var sql = document.getElementById("sql").value
        var dbContextSelect = document.getElementById("dbContext");
        var dbContext = dbContextSelect.options[dbContextSelect.selectedIndex].value;

        xhr = new XMLHttpRequest();
        xhr.open('POST', window.location.href);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            document.getElementById("sql_isRunning").innerHTML = null;
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);

                if (response.Errors && response.Errors.length > 0) {
                    for (i = 0; i < response.Errors.length; i++)
                        document.getElementById("sql_error").innerHTML += (response.Errors[i] + "");
                    return;
                }

                var table = "<table><thead class='small'><tr>"
                for (i = 0; i < response.Columns.length; i++) {
                    table = table + "<th>" + escape(response.Columns[i]) + "</th>";
                }
                table = table + "</tr></thead><tbody>";
                for (i = 0; i < response.Rows.length; i++) {
                    table = table + "<tr>";
                    for (j = 0; j < response.Rows[i].length; j++) {
                        table = table + "<td>" + escape(response.Rows[i][j]) + "</td>";
                    }
                    table = table + "</tr>";
                }
                table = table + "</tbody></html>";


                document.getElementById("sql_results").innerHTML = table;
                document.getElementById("sql_affectedRecords").innerHTML = "AffectedRecords: " + response.AffectedRecords;
            }
            else if (xhr.status !== 200) {
                getElementById("sql_error").innerHTML = "Request failed.  Returned status of " + xhr.status;
            }
        };
        xhr.send('_sql=' + encodeURI(sql) + "&" + '_dbContext=' + encodeURI(dbContext));
    }
</script>

<form onsubmit="event.preventDefault(); sql_run(); return true;">
    <div>
        <table class="form">
            <tr>
                <td>DbContext</td>
                <td>
                    <select id="dbContext">
                        @foreach (var dbContext in Model.DbContexts)
                        {
                        <option value="@dbContext.Name">@dbContext.Name</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="mt-5">
        <label for="sql" class="text-muted">Sql</label><br />
        <textarea id="sql" rows="12" style="width: 100%;" onchange="sql_onchange(value)"></textarea>
    </div>
    <div>
        <button class="btn btn-sm btn-primary">Run</button>
        <div id="sql_isRunning" class="text-warning"></div>
    </div>
</form>
<div>
    <br />
    <div id="sql_error" class="text-danger"></div>
    <div id="sql_results"></div>
    <div id="sql_affectedRecords"></div>
</div>