<h2>MVC</h2>

<div class="tab-buttons">
    <a href="/debug/Hosting" class="tab-button">HOSTING</a>
    <a href="/debug/Routing" class="tab-button">ROUTING</a>
    <a href="/debug/Services" class="tab-button active">SERVICES</a>
</div>


@if (Model.Services != null)
{
    <table>
        <thead class="small">
            <tr>
                <th>ServiceType</th>
                <th>Lifetime</th>
                <th>ImplementationType</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var route in Model.Services)
            {

                <tr>
                    <td>@route.ServiceType</td>
                    <td>@route.Lifetime</td>
                    <td>@route.ImplementationType</td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <div>Sorry, cannot find services. Make sure you call AddComandante method in ConfigureServices</div>
    <pre>
        public void ConfigureServices(IServiceCollection services)
        {
            services.AddComandante();
            ...
        }
    </pre>
}


