<h2>Entity Framework Core</h2>

<table>
    <thead>
        <tr class="small">
            <th>AppDbContext</th>
            <th>ProviderName</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appDbContext in Model.AppDbContexts)
        {
        <tr>
            <td>
                @appDbContext?.Name
            </td>
            <td>
                @appDbContext?.ProviderName
            </td>
            <td>
                <a class="btn btn-primary btn-sm m-2" href="/debug/EntityFrameworkCoreDbContext?AppDbContext=@(appDbContext?.Name)">Details</a><br />
                <a class="btn btn-primary btn-sm m-2" href="/debug/EntityFrameworkCoreRunSql?AppDbContext=@(appDbContext?.Name)">Run Sql</a>
            </td>
        </tr>
        }
    </tbody>
</table>
