<h2>Entity Framework Core - Run Sql</h2>
<table class="form">
    <tr>
        <td>AppDbContext</td>
        <td>@Model.AppDbContext</td>
    </tr>
</table>
<script>
    window.onload = function () {
        var sql = new URL(document.location).searchParams.get("sql");
        document.getElementById("sql").value = sql;
    }
    function sql_onchange(value) {
        if (history.pushState) {
            var url = new URL(document.location);
            url.searchParams.set("sql", value);
            window.history.replaceState({ path: String(url) }, '', String(url));
        }
    }
    function sql_run() {
        document.getElementById("sql_error").innerHTML = null;
        document.getElementById("sql_affectedRecords").innerHTML = null;
        document.getElementById("sql_results").innerHTML = null;
        var sql = document.getElementById("sql").value

        xhr = new XMLHttpRequest();
        xhr.open('POST', window.location.href);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            document.getElementById("sql_isRunning").innerHTML = null;
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);

                if (response.Error) {
                    document.getElementById("sql_error").innerHTML = response.Error;
                    return;
                }

                var table = "<table><thead class='small'><tr>"
                for (i = 0; i < response.Columns.length; i++) {
                    table = table + "<th>" + escape(response.Columns[i]) + "</th>";
                }
                table = table + "</tr></thead><tbody>";
                for (i = 0; i < response.Rows.length; i++) {
                    table = table + "<tr>";
                    for (j = 0; j < response.Rows[i].length; j++) {
                        table = table + "<td>" + escape(response.Rows[i][j]) + "</td>";
                    }
                    table = table + "</tr>";
                }
                table = table + "</tbody></html>";

                document.getElementById("sql_results").innerHTML = table;
                document.getElementById("sql_affectedRecords").innerHTML = "AffectedRecords: " + response.AffectedRecords;

            }
            else if (xhr.status !== 200) {
                getElementById("sql_error").innerHTML = "Request failed.  Returned status of " + xhr.status;
            }
        };
        xhr.send(encodeURI('sql=' + sql));
    }
</script>

<form onsubmit="event.preventDefault(); sql_run(); return true;">
    <div class="mt-5">
        <label for="sql" class="text-muted">Sql</label><br />
        <textarea id="sql" rows="12" style="width: 100%;" onchange="sql_onchange(value)"></textarea>
    </div>
    <div>
        <button class="btn btn-sm btn-primary">Run</button>
        <div id="sql_isRunning" class="text-warning"></div>
    </div>
</form>

<div>
    <div class="text-danger" id="sql_error"></div><br /><br />
    <div id="sql_affectedRecords"></div><br /><br />
    <div id="sql_results"></div>
</div>