<h2>Entity Framework Core</h2>

@foreach (var appDbContext in Model.AppDbContexts)
{
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="box">
                <h6 class="d-inline">@(appDbContext?.Name)</h6>
                <a class="btn btn-primary btn-sm m-2" href="/debug/EntityFrameworkCoreRunSql?AppDbContext=@(appDbContext?.Name)">Run Sql</a>
                <div class="box-body">

                    <table class="table-sm">
                        <tr>
                            <td class="pt-3">ProviderName</td>
                            <td class="pt-3">@(appDbContext?.ProviderName)</td>
                        </tr>
                        <tr>
                            <td class="align-top pt-3">Migrations</td>
                            <td class="pt-3">
                                <table>
                                    <thead class="small">
                                        <tr>
                                            <td>AppliedMigrations</td>
                                            <td>PendingMigrations</td>
                                            <td>Migrations</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @foreach (var migration in appDbContext.AppliedMigrations)
                                                {
                                                    @migration <br />
                                                }
                                            </td>
                                            <td>
                                                @foreach (var migration in appDbContext.PendingMigrations)
                                                {
                                                    @migration <br />
                                                }
                                            </td>
                                            <td>
                                                @foreach (var migration in appDbContext.Migrations)
                                                {
                                                    @migration <br />
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top pt-3">Entities</td>
                            <td class="pt-3">
                                <table class="table-sm">
                                    <thead class="small">
                                        <tr>
                                            <td>Name</td>
                                            <td>ClrType</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var entity in appDbContext.Entities)
                                        {
                                            <tr>
                                                <td>@entity.NavigationName</td>
                                                <td>@entity.ClrTypeName</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

