<h2>Requests</h2>
@foreach (var request in Model.Requests)
{
    <div class="requests">
        <span>[<span class="requests-datetime">@request.DateTime.NowUtc</span>]</span>
        <span>[<span class="requests-status">@request?.Response.StatusCode @request?.MaxLogLevel]</span></span>
        <span>
            <span class="requests-path">
                <a href="/debug/Request?TraceIdentifier=@(request.TraceIdentifier)">
                    @request.Request.Method @request.Request.Path
                </a>
            </span>
        </span>
        <span class="requests-identity">@request.Identity?.Name</span>
    </div>
}